@import "tailwindcss";

:root {
  --ui-bg: #ffffff;
  --ui-fg: #374151; /* gray-700 */
  --ui-border: #e5e7eb; /* gray-200 */
  --canvas-bg: #f8f9fa;
  --ui-bg-hover: #f3f4f6; /* gray-100 */
  --ui-fg-muted: #9ca3af; /* gray-400 */
}

.dark {
  --ui-bg: #232329;
  --ui-fg: #d1d5db; /* gray-300 */
  --ui-border: #323232;
  --canvas-bg: #121212;
  --ui-bg-hover: #323232;
  --ui-fg-muted: #6b7280; /* gray-500 */
}

@theme {
  --color-ui-bg: var(--ui-bg);
  --color-ui-fg: var(--ui-fg);
  --color-ui-border: var(--ui-border);
  --color-canvas-bg: var(--canvas-bg);
  --color-ui-bg-hover: var(--ui-bg-hover);
  --color-ui-fg-muted: var(--ui-fg-muted);
}
